* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-areas:
    "head head head "
    "sidebar main main "
    "foot foot foot ";
  grid-template-columns: 350px 1fr 1fr;
  grid-template-rows: 100px calc(100vh - 100px - 50px) 50px;
  /* height: 100vh; */
}
.head {
  grid-area: head;
  background: rgb(19, 67, 129);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.sidebar {
  background-color: #f4f4f4;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 15px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  padding-left: 10px; /* Añade padding para alinear los elementos */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
}

.sidebar ul li strong {
  display: inline-block; /* Asegura que el strong no afecte el alineamiento */
  width: 100px; /* Ajusta el ancho según sea necesario */
}

.product-grid {
  grid-area: main;
  background-color: #f4f4f4;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  overflow-y: scroll;
}
.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  max-width: 100%;
  height: 400px;
}

.product-card h3 {
  margin: 15px 0 10px;
}

.product-card .buy-button {
  background: rgb(19, 67, 129);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

.foot {
  grid-area: foot;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
